@{
    ViewData["Title"] = "About SolidRC";
}
<h1>@ViewData["Title"]</h1>

<p>SolidRC is a personal project by Jørn Wildt, Allerød, Denmark. The purpose is first and foremost
    to explore the possibilities of the <a href="https://solid.inrupt.com/">Solid</a> framework,
    but the result so far is nice little tracker of activites with radio controlled toys.
</p>
