@{
    ViewData["Title"] = "Logbook";
}

@section Styles
{
  <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
}

<h1>Logbook</h1>

<div id="logbook">
  <button type="button" class="btn btn-primary" v-on:click="editNewEntry()">Add new entry</button>

  <table class="table log-entries">
    <tbody>
      <tr v-for="entry in logEntries" v-bind:entry="entry" v-bind:key="entry.id">
        <td><linked-image height="60" v-bind:item="entry.modelThumbnail"></td>
        <td>
          <div>
            {{entry.date}} - <linked-value v-bind:item="entry.locationName"></linked-value> 
            <span v-if="entry.duration">({{entry.durationText}})</span>
          </div>
          <div>
            <linked-value v-bind:item="entry.modelName"></linked-value>
          </div>
          <div v-if="entry.comment" class="log-comment">
            {{entry.comment}}
          </div>
        </td>
        <td>
          <a href="#" v-on:click="editEntry(entry)"><img src="~/open-iconic/svg/pencil.svg" alt="Edit" class="grid-action"></a>
          <a href="#" v-on:click="deleteEntry(entry)"><img src="~/open-iconic/svg/circle-x.svg" alt="Remove" class="grid-action"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" data-show="false" id="entryDialog" tabindex="-1" role="dialog" aria-labelledby="entryDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="entryDialogLabel">{{formTitle}}</h5>
          <share-data v-if="currentEntry" v-bind:url="currentEntry.id"></share-data>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="selectedDate">Date</label>
                  <input v-model.trim="$v.selectedDate.$model" :class="validationStatus($v.selectedDate)" id="selectedDate">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="selectedDuration">Duration (min.)</label>
                  <input v-model="$v.selectedDuration.$model" :class="validationStatus($v.selectedDuration)" id="selectedDuration" placeholder="HH:MM:SS">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="selectedModel">Model</label>
                  <select v-model="selectedModel" id="selectedModel" v-on:change="handleModelChanged">
                    <option v-for="model in models" v-bind:value="model.id">{{ model.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <img width="100" height="100" id="modelThumbnail" class="img-thumbnail">
              </div>
            </div>
            <div class="form-group">
              <label for="selectedLocation">Location</label>
              <select v-model="selectedLocation" id="selectedLocation">
                <option v-for="location in locations" v-bind:value="location.id">{{ location.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="selectedComment">Comment</label>
              <textarea v-model="selectedComment" class="form-control" id="selectedComment" rows="3"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button v-if="formState=='add'" type="button" class="btn btn-primary" v-on:click="addEntry()" id="buttonAdd">Add</button>
          <button v-if="formState=='edit'" type="button" class="btn btn-primary" v-on:click="saveEntry()" id="buttonSave">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script src="~/lib/rdflib/dist/rdflib.min.js"></script>
  <script src="~/lib/moment/min/moment.min.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="~/lib/vuelidate/dist/vuelidate.min.js"></script>
  <script src="~/lib/vuelidate/dist/validators.min.js"></script>
  <script src="~/js/namespaces.js"></script>
  <script src="~/js/ORDFMapper.js"></script>
  <script src="~/js/locationRepository.js"></script>
  <script src="~/js/modelRepository.js"></script>
  <script src="~/js/imageRepository.js"></script>
  <script src="~/js/logbookRepository.js"></script>
  <script src="~/js/logbook.js"></script>
}