@{
    ViewData["Title"] = "Logbook";
}

@section Head
{
  <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
}

<h1>Logbook</h1>

<div id="logbook">
  <div v-if="canAddEntry" v-cloak>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
      <button type="button" class="btn btn-primary" v-on:click="editNewEntry()">Add new entry</button>
    </div>
  </div>
  <div v-if="!canAddEntry" class="alert alert-info" role="alert" v-cloak>
    <p>Please add at least one model and one location before registering an activity.</p>
  </div>

  <data-load v-bind:loading="loading">
    <div v-cloak>
      <table class="table log-entries">
        <tbody>
          <tr v-for="entry in logEntries" v-bind:entry="entry" v-bind:key="entry.id">
            <td><linked-image height="60" v-bind:item="entry.modelThumbnail"></td>
            <td>
              <div>
                {{entry.date}} - <linked-value v-bind:item="entry.locationName"></linked-value> 
                <span v-if="entry.duration">({{entry.durationText}})</span>
              </div>
              <div>
                <linked-value v-bind:item="entry.modelName"></linked-value>
              </div>
              <div v-if="entry.comment" class="log-comment">
                {{entry.comment}}
              </div>
            </td>
            <td>
              <a href="#" v-on:click="editEntry(entry)"><img src="~/open-iconic/svg/pencil.svg" alt="Edit" class="grid-action"></a>
              <a href="#" v-on:click="deleteEntry(entry)"><img src="~/open-iconic/svg/circle-x.svg" alt="Remove" class="grid-action"></a>
            </td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Search result pages">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> 
    </div>   
  </data-load>

  <div class="modal fade" data-show="false" id="entryDialog" tabindex="-1" role="dialog" aria-labelledby="entryDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="entryDialogLabel">{{formTitle}}</h5>
          <share-data v-if="currentEntry" v-bind:url="currentEntry.id"></share-data>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="selectedDate">Date</label>
                  <input v-model.trim="$v.selectedDate.$model" :class="validationStatus($v.selectedDate)" id="selectedDate">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="selectedDuration">Duration</label>
                  <input v-model="$v.selectedDuration.$model" :class="validationStatus($v.selectedDuration)" id="selectedDuration" placeholder="HH:MM:SS">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="selectedModel">Model</label>
                  <select v-model="selectedModel" id="selectedModel" v-on:change="handleModelChanged">
                    <option v-for="model in models" v-bind:value="model.id">{{ model.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <img width="100" height="100" id="modelThumbnail" class="img-thumbnail">
              </div>
            </div>
            <div class="form-group">
              <label for="selectedLocation">Location</label>
              <select v-model="selectedLocation" id="selectedLocation">
                <option v-for="location in locations" v-bind:value="location.id">{{ location.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="selectedComment">Comment</label>
              <textarea v-model="selectedComment" class="form-control" id="selectedComment" rows="3"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button-processing v-if="formState=='add'" cc="btn btn-primary" v-on:click="addEntry" id="buttonAdd" :processing="processing">Add</button-processing>
          <button-processing v-if="formState=='edit'" cc="btn btn-primary" v-on:click="saveEntry" id="buttonSave" :processing="processing">Save</button-processing>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script src="~/lib/moment/moment.min.js"></script>
  <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="~/lib/vuelidate/vuelidate.min.js"></script>
  <script src="~/lib/vuelidate/validators.min.js"></script>
  <script src="~/js/locationRepository.js" asp-append-version="true"></script>
  <script src="~/js/modelRepository.js" asp-append-version="true"></script>
  <script src="~/js/imageRepository.js" asp-append-version="true"></script>
  <script src="~/js/logbookRepository.js" asp-append-version="true"></script>
  <script src="~/js/logbook.js" asp-append-version="true"></script>
}