@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<div id="locationsApp">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLocationDialog">Add new location</button>

  <table id="locations" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="location in locations" v-bind:location="location" v-bind:key="location.id">
        <td>{{location.name}}</td>
        <td><a href="#" v-on:click="deleteLocation(location)"><img src="~/open-iconic/svg/circle-x.svg" alt="Remove" class="grid-action"></a></td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="addLocationDialog" tabindex="-1" role="dialog" aria-labelledby="addLocationDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLocationDialogLabel">Add new location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="locationName">Name</label>
              <input v-model="$v.locationName.$model" :class="validationStatus($v.locationName)" id="locationName">
            </div>
            <div class="form-group">
              <input type="checkbox" id="useExternalUrl" v-model="useExternalUrl">
              <label for="useExternalUrl">Use external location</label>
            </div>
            <div class="form-group" v-if="useExternalUrl">
              <label for="externalUrl">External URL</label>
              <input v-model="$v.externalUrl.$model" :class="validationStatus($v.externalUrl)" id="externalUrl">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" v-on:click="addNewLocation">Add</button>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script src="~/lib/rdflib/dist/rdflib.min.js"></script>
  <!-- <script src="~/lib/moment/min/moment.min.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> -->
  <script src="~/lib/vue/dist/vue.min.js"></script>
  <script src="~/lib/vuelidate/dist/vuelidate.min.js"></script>
  <script src="~/lib/vuelidate/dist/validators.min.js"></script>
  <script src="~/js/namespaces.js"></script>
  <script src="~/js/ORDFMapper.js"></script>
  <script src="~/js/locations.js"></script>
  <script src="~/js/locationRepository.js"></script>
}