@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<div id="locationsApp">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
    <button type="button" class="btn btn-primary" v-on:click="editNewLocation()">Add new location</button>
  </div>
  
  <data-load v-bind:loading="loading">
    <table id="locations" class="table" v-cloak>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="location in locations" v-bind:location="location" v-bind:key="location.id">
          <td>{{location.name}}</td>
          <td>
            <a href="#" v-on:click="editLocation(location)"><img src="~/open-iconic/svg/pencil.svg" alt="Edit" class="grid-action"></a>
            <a href="#" v-on:click="deleteLocation(location)"><img src="~/open-iconic/svg/circle-x.svg" alt="Remove" class="grid-action"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </data-load>

  <div class="modal fade" data-show="false" id="locationDialog" tabindex="-1" role="dialog" aria-labelledby="locationDialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="locationDialogLabel">{{formTitle}}</h5>
          <share-data v-if="currentLocation" v-bind:url="currentLocation.id"></share-data>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="locationName">Name</label>
              <input v-model="$v.locationName.$model" :class="validationStatus($v.locationName)" id="locationName">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button-processing v-if="formState=='add'" cc="btn btn-primary" v-on:click="addLocation" id="buttonAdd" :processing="processing">Add</button-processing>
          <button-processing v-if="formState=='edit'" cc="btn btn-primary" v-on:click="saveLocation" id="buttonSave" :processing="processing">Save</button-processing>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script src="~/lib/vuelidate/vuelidate.min.js"></script>
  <script src="~/lib/vuelidate/validators.min.js"></script>
  <script src="~/js/locationRepository.js" asp-append-version="true"></script>
  <script src="~/js/locations.js" asp-append-version="true"></script>
}