@{
    ViewData["Title"] = "Login";
}

<h1>Remote Controlled Flight Log</h1>

<h3>Register your radio controlled models and flights</h3>

<p>Solid-RC is a an app for logging flights with your radio controlled models. Register your models and flying sites and start logging your flights.</p>

<h3>Your content - your data</h3>

<p>Solid-RC stores your registrations in your own <a href="https://solid.inrupt.com/how-it-works">personal Solid POD</a> - a secure and private data storage on the web.</p>

<hr />

<p>Start by connecting Solid-RC to your personal POD.</p>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Login with an existing Solid POD account.</p>
      <a class="btn btn-primary" id="login-button-2" href="#">Log in</a>
    </div>
    <div class="col">
      <p>If you do not already have a Solid POD then register one today.</p>
      <a class="btn btn-primary" href="https://solid.inrupt.com/get-a-solid-pod">Register</a>
    </div>
  </div>
</div>

@section Head
{
<script>
  doRedirectAnonymous = false;
</script>
}

@section Scripts
{
<script>
  $(function ()
  {
    $('#login-button-2').click(showSolidLogin);
  });
</script>
}