@{
    ViewData["Title"] = "Models";
}

@section Styles
{
  <link rel="stylesheet" href="~/lib-local/waitme/waitMe.min.css" />
}

<h1>Models</h1>

<div class="alert alert-primary" role="alert" id="pageAlert">
  Please reload page after changing photo.
</div>

<div id="modelsApp">
  <button type="button" class="btn btn-primary" v-on:click="editNewModel()">Add new model</button>

  <table id="models" class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="model in models" v-bind:model="model" v-bind:key="model.id">
        <td><img width="100" height="100" v-bind:src="model.thumbnail"></td>
        <td>{{model.name}}</td>
        <td>
          <a href="#" v-on:click="editModel(model)"><img src="~/open-iconic/svg/pencil.svg" alt="Edit" class="grid-action"></a>
          <a href="#" v-on:click="deleteModel(model)"><img src="~/open-iconic/svg/circle-x.svg" alt="Remove" class="grid-action"></a>
          </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="modelDialog" tabindex="-1" role="dialog" aria-labelledby="addModelDialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModelDialogLabel">{{formTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="modelName">Name</label>
              <input v-model="$v.modelName.$model" :class="validationStatus($v.modelName)" id="modelName">
            </div>

            <div class="form-group">
              <label for="modelImage">Upload photo</label>
              <input type="file" id="modelImage" v-on:change="previewModelImage">
              <div class="image-previewer">
                <img id="modelImageStore">
                <canvas id="modelImageCanvas" width="100" height="100">Your browser does not support this.</canvas>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button v-if="formState=='add'" type="button" class="btn btn-primary" v-on:click="addModel()">Add</button>
          <button v-if="formState=='edit'"type="button" class="btn btn-primary" v-on:click="saveModel()">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script src="~/lib/rdflib/dist/rdflib.min.js"></script>
  <!-- <script src="~/lib-local/rdflib.min.js"></script> -->
  <!-- <script src="~/lib/moment/min/moment.min.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> -->
  <script src="~/lib/vue/dist/vue.min.js"></script>
  <script src="~/lib/vuelidate/dist/vuelidate.min.js"></script>
  <script src="~/lib/vuelidate/dist/validators.min.js"></script>
  <script src="~/lib-local/waitme/waitMe.min.js"></script>
  <script src="~/js/namespaces.js"></script>
  <script src="~/js/ORDFMapper.js"></script>
  <script src="~/js/imagePreviewer.js"></script>
  <script src="~/js/modelRepository.js"></script>
  <script src="~/js/imageRepository.js"></script>
  <script src="~/js/models.js"></script>
}