@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>SolidRC does not collect any kinds of personal data. Content you add through the SolidRC application
    is stored in your own Solid POD and is thus under your own control.</p>

