@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<div class="alert alert-info" role="alert">
  <p>These are the settings that SolidRC uses. The settings are based on your personal profile settings from your own POD.</p>
</div>

<div id="settingsApp">
  <data-load v-bind:loading="loading">
    <form v-cloak>
      <div class="form-group">
        <label for="webId">Logged in as</label>
        <div class="input-group">
          <input v-model="webId" id="webId" class="form-control" readonly>
          <div class="input-group-text">
            <a :href="webId"><img src="~/open-iconic/svg/external-link.svg" alt="Open profile" title="Open profile"></a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="logbookStorage">Data location for logbook</label>
        <div class="input-group">
          <input v-model="logbookStorage" id="logbookStorage" class="form-control" readonly>
          <div class="input-group-text">
            <a :href="logbookStorage"><img src="~/open-iconic/svg/external-link.svg" alt="Open POD data" title="Open POD data"></a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="modelStorage">Data location for models</label>
        <div class="input-group">
          <input v-model="modelStorage" id="modelStorage" class="form-control" readonly>
          <div class="input-group-text">
            <a :href="modelStorage"><img src="~/open-iconic/svg/external-link.svg" alt="Open POD data" title="Open POD data"></a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="modelImageStorage">Data location for model images</label>
        <div class="input-group">
          <input v-model="modelImageStorage" id="modelImageStorage" class="form-control" readonly>
          <div class="input-group-text">
            <a :href="modelImageStorage"><img src="~/open-iconic/svg/external-link.svg" alt="Open POD data" title="Open POD data"></a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="locationStorage">Data location for locations</label>
        <div class="input-group">
          <input v-model="locationStorage" id="locationStorage" class="form-control" readonly>
          <div class="input-group-text">
            <a :href="locationStorage"><img src="~/open-iconic/svg/external-link.svg" alt="Open POD data" title="Open POD data"></a>
          </div>
        </div>
      </div>
    </form>
  </data-load>
</div>


@section Scripts
{
  <script src="~/js/settings.js" asp-append-version="true"></script>
  <script src="~/js/locationRepository.js" asp-append-version="true"></script>
  <script src="~/js/modelRepository.js" asp-append-version="true"></script>
  <script src="~/js/logbookRepository.js" asp-append-version="true"></script>
}