/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#pageAlert
{
  display: none;
}

img.grid-action
{
  width: auto;
  height: 16px;
  margin-right: 8px;
}


.form-group label {
  display: block;
}


.image-previewer {
  margin-top: 10px;
  border: 1px solid #bbb;
  padding: 1px;
  height: 104px; 
  width: 104px;
}

.image-previewer img {
  display: none;
}


/*
.dirty {
  border-color: #5A5;
  background: #EFE;
}

.dirty:focus {
  outline-color: #8E8;
}
*/

.error {
  border-color: red;
  background: #FDD;
}

.error:focus {
  outline-color: #F99;
}
